cn-lightbox {
  --_default-bg: light-dark(#eee, black);
  --_default-color: light-dark(black, white);
  --_default-border-radius: 0.5rem;
  --_default-image-border-radius: calc(var(--_default-border-radius) * 0.75);
  --_default-inner-spacing: 0.25rem;

  --_cn-theme-bg: light-dark(
    color-mix(in hsl, var(--chroma-primary-90), transparent 78%),
    color-mix(in hsl, var(--chroma-primary-90), transparent 67%));

  --_cn-theme-scrollbar-color: var(--chroma-primary-80);

  --cn-lightbox-background: var(--_cn-theme-bg, var(--_default-bg));
  --cn-lightbox-border-radius: var(
    --cn-border-radius, 
    var(--_default-border-radius));
  --cn-lightbox-image-border-radius: var(--_default-image-border-radius);
  --cn-lightbox-inner-spacing: var(--_default-inner-spacing);
  --cn-lightbox-scrollbar-color: var(--_cn-theme-scrollbar-color, var(--_default-color));
}